section.home
    .flex.flex--center
        .col-1
            .r-words
                h1.randoms UI/UX
                h4.randoms STRATEGY
                h1.randoms DESIGN
                h4.randoms CODE
                h1.randoms HTML5
                h4.randoms CMS
                h1.randoms PROGRESSIVE
                h4.randoms APPS

          
        .col-1
            .name
                h2 VIWE MGODUKA